{% extends "layout.html" %}


{% block main %}
    <form action="/chinhtri">

        <hr>

        <div>
            <div id="chinhtri">
                <h3>Chính trị:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/Ch%C3%ADnh_tr%E1%BB%8B_Vi%E1%BB%87t_Nam">
                        Chính trị Việt Nam
                    </a>
                </p>

                <div class="ogiua">
                    <img alt="Hồ_Chí_Minh" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Ho_Chi_Minh_1946.jpg/220px-Ho_Chi_Minh_1946.jpg">
                </br>
                    <a href="https://vi.wikipedia.org/wiki/H%E1%BB%93_Ch%C3%AD_Minh">
                        Chủ tịch Hồ Chí Minh người sáng lập Đảng Cộng Sản Việt Nam</a>
                </div>

                <div>
                    <div class="quocky">

                        <div class="quocky">
                            <div class="ogiua">
                                <img alt="Nguyễn_Phú_Trọng" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Mr._Nguyen_Phu_Trong.jpg/100px-Mr._Nguyen_Phu_Trong.jpg">
                            </br>
                                <a href="https://vi.wikipedia.org/wiki/T%E1%BB%95ng_B%C3%AD_th%C6%B0_Ban_Ch%E1%BA%A5p_h%C3%A0nh_Trung_%C6%B0%C6%A1ng_%C4%90%E1%BA%A3ng_C%E1%BB%99ng_s%E1%BA%A3n_Vi%E1%BB%87t_Nam">
                                    Tổng bí thư</a>
                                </br>
                                <a href="https://vi.wikipedia.org/wiki/Nguy%E1%BB%85n_Ph%C3%BA_Tr%E1%BB%8Dng">
                                    Nguyễn Phú Trọng</a>
                            </div>
                        </div>

                        <div class="quochuy">
                            <div class="ogiua">
                                <img alt="Nguyễn_Xuân_Phúc" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Mr._Nguyen_Xuan_Phuc.jpg/100px-Mr._Nguyen_Xuan_Phuc.jpg">
                            </br>
                                <a href="https://vi.wikipedia.org/wiki/Ch%E1%BB%A7_t%E1%BB%8Bch_n%C6%B0%E1%BB%9Bc_C%E1%BB%99ng_h%C3%B2a_x%C3%A3_h%E1%BB%99i_ch%E1%BB%A7_ngh%C4%A9a_Vi%E1%BB%87t_Nam">
                                    Chủ tịch nước</a>
                                </br>
                                <a href="https://vi.wikipedia.org/wiki/Nguy%E1%BB%85n_Xu%C3%A2n_Ph%C3%BAc"> 
                                    Nguyễn Xuân Phúc
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="quochuy">

                        <div class="quocky">
                            <div class="ogiua">
                                <img alt="Phạm_Mnh_Chính" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Mr._Pham_Minh_Chinh.jpg/100px-Mr._Pham_Minh_Chinh.jpg">
                            </br>
                                <a href="https://vi.wikipedia.org/wiki/Th%E1%BB%A7_t%C6%B0%E1%BB%9Bng_Vi%E1%BB%87t_Namhttps://vi.wikipedia.org/wiki/Th%E1%BB%A7_t%C6%B0%E1%BB%9Bng_Vi%E1%BB%87t_Nam">
                                    Thủ tướng</a>
                                </br>
                                <a href="https://vi.wikipedia.org/wiki/Ph%E1%BA%A1m_Minh_Ch%C3%ADnh"> 
                                    Phạm Minh Chính
                                </a>
                            </div>
                        </div>

                        <div class="quochuy">
                            <div class="ogiua">
                                <img alt="Vương_Đình_Huệ" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Mr._Vuong_Dinh_Hue.jpg/100px-Mr._Vuong_Dinh_Hue.jpg">
                            </br>
                                <a href="https://vi.wikipedia.org/wiki/Ch%E1%BB%A7_t%E1%BB%8Bch_Qu%E1%BB%91c_h%E1%BB%99i_Vi%E1%BB%87t_Nam">
                                    Chủ tịch Quốc hội</a>
                                </br>
                                <a href="https://vi.wikipedia.org/wiki/V%C6%B0%C6%A1ng_%C4%90%C3%ACnh_Hu%E1%BB%87"> 
                                    Vương Đình Huệ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <p>
                    Việt Nam theo chế độ xã hội chủ nghĩa với cơ chế có duy nhất một đảng chính 
                    trị lãnh đạo là Đảng Cộng sản Việt Nam. Vào năm 2016, các đại biểu là Đảng 
                    viên trong Quốc hội có tỉ lệ là 95,8%, những người đứng đầu Chính phủ, các 
                    Bộ và Quốc hội cũng như các cơ quan tư pháp đều là Đảng viên và do Ban Chấp 
                    hành Trung ương hoặc Bộ Chính trị đề cử.
                </p>

                <p>
                    Đảng Cộng sản Việt Nam, đứng đầu bởi Tổng Bí thư, người lãnh đạo trên thực 
                    tế và lãnh đạo cao nhất của Việt Nam, là Đảng duy nhất lãnh đạo trên chính 
                    trường Việt Nam, cam kết với các nguyên tắc của Lênin "tập trung dân chủ" và
                    không cho phép đa đảng.
                </p>

                <p>
                    Quốc hội nhiệm kỳ 5 năm, đứng đầu là Chủ tịch Quốc hội, theo Hiến pháp là 
                    cơ quan đại biểu cao nhất của nhân dân. Duy nhất Quốc hội có quyền lập hiến,
                    lập pháp với nhiệm vụ giám sát, quyết định những chính sách cơ bản, những
                    nguyên tắc của bộ máy Nhà nước và quan hệ xã hội công dân. Quốc hội không 
                    độc lập và tuân thủ đa số các quy định từ Đảng nhưng sau Đổi mới, vai trò
                    của Quốc hội đẩy lên cao hơn.
                </p>

                <p>
                    Chủ tịch nước là nguyên thủ quốc gia, có các quyền trong đó: Công bố hiến 
                    pháp, luật, pháp lệnh; Tổng Tư lệnh vũ trang; đề nghị Quốc hội bầu, miễn 
                    nhiệm Thủ tướng, Chánh án tối cao, Kiểm sát tưởng tối cao,...; thay mặt Nhà 
                    nước về đối nội và đối ngoại.
                </p>

                <p>
                    Chính phủ là cơ quan chấp hành của Quốc hội, cơ quan hành chính cao nhất, 
                    gồm Thủ tướng, các Phó Thủ tướng, các Bộ trưởng và Thủ trưởng cơ quan ngang
                    Bộ. Việc tổ chức nhân sự chính phủ đều thông qua Bộ Chính trị quản lý.
                </p>

                <p>
                    Tòa án nhân dân tối cao là cơ quan xét xử. Ngoài ra, Tòa án quân sự có
                    thẩm quyền đặc biệt trong các vấn đề an ninh quốc gia.
                </p>

                <p>
                    Viện kiểm sát nhân dân tối cao là cơ quan giữ quyền công tố và kiểm sát 
                    hoạt động tư pháp cao nhất Việt Nam.
                </p>
            </div>
        </div>

        <div>
            <div id="quansu">
                <h3>Quân sự:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/Qu%C3%A2n_%C4%91%E1%BB%99i_Nh%C3%A2n_d%C3%A2n_Vi%E1%BB%87t_Nam">
                        Quân đội nhân dân Việt Nam
                    </a>
                </p>

                <div class="ogiua">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N9qc_LrlEIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </br>
                    <a href="https://vi.wikipedia.org/wiki/L%E1%BB%8Bch_s%E1%BB%AD_Qu%C3%A2n_%C4%91%E1%BB%99i_nh%C3%A2n_d%C3%A2n_Vi%E1%BB%87t_Nam#:~:text=Ti%E1%BB%81n%20th%C3%A2n%20c%E1%BB%A7a%20Qu%C3%A2n%20%C4%91%E1%BB%99i,B%C3%ACnh%2C%20t%E1%BB%89nh%20Cao%20B%E1%BA%B1ng).">
                        Lịch sử quân đội nhân dân Việt Nam</a>
                </div>

                <div class="ogiua">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1yBssW-XNfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </br>
                    <a href="https://vi.wikipedia.org/wiki/Qu%C3%A2n_%C4%91%E1%BB%99i_nh%C3%A2n_d%C3%A2n_Vi%E1%BB%87t_Nam">
                        Sức mạnh quân đội nhân dân Việt Nam
                    </a>
                </div>

                <div class="ogiua">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/57s9bi8LB9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </br> Diễu binh Quân đội nhân dân Việt Nam
                </div>

                <p>
                    Lực lượng vũ trang nhân dân Việt Nam bao gồm Quân đội nhân dân Việt Nam,
                    Công an nhân dân Việt Nam và Dân quân tự vệ. Quân đội nhân dân Việt Nam
                    (VPA) là tên chính thức cho tổ chức quân sự hoạt động ở Việt Nam, chia 
                    thành:
                </p>

                <ul>
                    <li><p>Quân chủng Lục quân: không tổ chức Bộ tư lệnh riêng như Hải quân,
                        Phòng không – Không quân và Cảnh sát biển mà các quân đoàn chủ lực và
                        binh chủng do Bộ Tổng tham mưu trực tiếp chỉ đạo.
                    </p></li>
                    <li><p>Quân chủng Hải quân: thành lập năm 1955, xây dựng trên cơ sở Cục
                        Phòng thủ Bờ biển.</p></li>
                    <li><p>Quân chủng Phòng không – Không quân: hợp nhất từ hai quân 
                        chủng Phòng không và Không quân từ năm 2000.</p></li>
                    <li><p>Bộ Tư lệnh Cảnh sát biển: thành lập năm 1998</p></li>
                </ul>

                <p>
                    VPA có số lượng khoảng 450.000 người, còn tổng lực lượng, bao gồm cả bán
                    quân sự và dân quân tự vệ, có thể lên khoảng 5.000.000 người. Năm 2010, 
                    chi phí đầu tư quân sự ở Việt Nam khoảng 2,48 tỷ USD, tương đương khoảng
                    2,5% GDP năm 2010.
                </p>
            </div>
        </div>

        <div>
            <div id="ngoaigiao">
                <h3>Ngoại giao:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/Quan_h%E1%BB%87_ngo%E1%BA%A1i_giao_c%E1%BB%A7a_Vi%E1%BB%87t_Nam">
                        Quan hệ ngoại giao của Việt Nam
                    </a>
                </p>

                <div class="ogiua">
                    <img alt="Việt Nam chính thức đảm nhiệm vai trò Chủ tịch Hội đồng Bảo an Liên hợp quốc" src="https://vtv1.mediacdn.vn/thumb_w/640/2021/4/1/vnapotalthang42021vietnamchinhthucdamnhiemvaitrochutichhoidongbaoanlienhopquoc-16172348832712012859328.jpg">
                </br>
                    <a HREF="https://vtv.vn/chinh-tri/thang-4-2021-viet-nam-chinh-thuc-dam-nhiem-vai-tro-chu-tich-hoi-dong-bao-an-lien-hop-quoc-20210401070337458.htm">
                        VIỆT NAM CHÍNH THỨC ĐẢM NHIỆM VAI TRÒ CHỦ TỊCH HỘI ĐỒNG BAO AN LIÊN HỢP QUỐC</a>
                </div>

                <p>
                    Theo các văn kiện Đại hội đại biểu toàn quốc lần thứ X: Cộng hòa Xã hội 
                    chủ nghĩa Việt Nam chủ trương đường lối đối ngoại độc lập, tự chủ, rộng 
                    mở, đa dạng, đa phương hóa quan hệ quốc tế, chủ động hội nhập quốc tế với 
                    phương châm "Việt Nam sẵn sàng là bạn và là đối tác tin cậy của tất cả các 
                    nước phấn đấu vì hòa bình, độc lập và phát triển".
                </p>

                <p>
                    Việt Nam gia nhập Liên Hợp Quốc vào năm 1977, sau đổi mới, bình thường hóa
                    quan hệ với Trung Quốc vào năm 1992 và với Hoa Kỳ vào năm 1995, gia nhập 
                    khối ASEAN năm 1995. Hiện đã thiết lập quan hệ ngoại giao với 189 quốc gia 
                    (gồm 43 nước châu Á, 47 nước châu Âu, 14 nước châu Đại Dương, 30 nước châu 
                    Mỹ và 55 nước châu Phi). Việt Nam cũng là thành viên của 63 tổ chức 
                    quốc tế và quan hệ với hơn 650 tổ chức phi chính phủ. Trong tổ chức 
                    Liên Hợp Quốc, Việt Nam đóng vai trò là ủy viên ECOSOC, ủy viên Hội đồng 
                    chấp hành UNDP, UNFPA và UPU. Việt Nam từng tổ chức các hội nghị cấp cao 
                    ASEAN (1998, 2010), ASEM (2004), Thượng đỉnh APEC (2006, 2017), Cộng đồng
                    Pháp ngữ (1997), Hội nghị Thượng đỉnh Triều Tiên-Hoa Kỳ lần 2 (2019). Việt
                    Nam cũng từng làm thành viên không thường trực Hội đồng Bảo an Liên Hợp 
                    Quốc nhiệm kỳ 2008-2009 và 2020-2021, thành viên của ECOSOC nhiệm kỳ 
                    2016-2018, Chủ tịch luân phiên ASEAN (2010, 2020).
                </p>
            </div>
        </div>
    </form>
{% endblock %}