{% extends "layout.html" %}


{% block main %}
    <form action="/kinhte">
        
        <hr>

        <div>
            <div id="kinhte">
                <h3>Kinh tế:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/Kinh_t%E1%BA%BF_Vi%E1%BB%87t_Nam">
                        Kinh tế Việt Nam
                    </a>
                </p>

                <div class="ogiua">
                    <img alt="Thành_quả_đổi_mới_năm_1986" src="https://baoquocte.vn/stores/news_dataimages/thanhtruc/052020/01/13/kinh-te-viet-nam-thay-doi-the-nao-sau.jpg">
                </br>
                    <a href="https://vi.wikipedia.org/wiki/%C4%90%E1%BB%95i_M%E1%BB%9Bi">
                        Thành tựu đạt được sau đổi mới năm 1986 (Thống kê 2020)</a>
                </div>

                <p>
                    Chính sách Đổi mới năm 1986 đã thiết lập mô hình "Kinh tế thị trường định
                     hướng xã hội chủ nghĩa". Các thành phần kinh tế được mở rộng hơn nhưng 
                     những ngành kinh tế chủ lực, thiết yếu vẫn dưới sự điều hành của Nhà nước. 
                     Từ năm 1993 đến 1997, kinh tế Việt Nam đạt tốc độ tăng trưởng trung bình
                      hằng năm khoảng 9%. Tăng trưởng GDP đạt mức 8,5% vào năm 1997 nhưng giảm 
                      xuống 4% năm 1998 do ảnh hưởng của cuộc khủng hoảng tài chính châu Á năm 
                      1997 và tăng nhẹ lên mức 4,8% năm 1999. Tăng trưởng GDP tiếp tục tăng lên
                       từ 6% đến 7% trong giai đoạn giữa những năm 2000 và 2002. Ngày 7 tháng 
                       11 năm 2006, Việt Nam được phép gia nhập WTO sau khi kết thúc đàm phán 
                       song phương với các nước có yêu cầu và chính thức là thành viên thứ 150
                        vào ngày 11 tháng 1 năm 2007. Sau cải cách kinh tế – xã hội, theo một 
                        số nghiên cứu, bất bình đẳng thu nhập đã gia tăng.
                </p>

                <div class="ogiua">
                    <img alt="Gạo" src="https://vinmec-prod.s3.amazonaws.com/images/20200619_032903_500188_gao.max-800x800.jpg">
                </br>
                    <a href="https://vi.wikipedia.org/wiki/G%E1%BA%A1o">
                        Gạo</a> mặt hàng xuất khẩu chủ yếu của Việt Nam
                </div>

                <p>
                    Năm 2013, tại một hội thảo ở Hà Nội, các chuyên gia nhận định nền kinh tế 
                    Việt Nam đã tăng trưởng chậm lại sau 5 năm gia nhập WTO. Cụ thể, trong giai
                     đoạn 2007–2011, chỉ có năm 2008 là Việt Nam đạt mức tăng trưởng GDP trên 8% 
                     dù xuất khẩu tăng 2,4 lần - lên mức 96,9 tỷ USD. Đa phần tỷ trọng xuất khẩu
                      là do khối các doanh nghiệp FDI, chiếm khoảng 60%, mặt hàng xuất khẩu chủ 
                      yếu là nông - lâm sản và khoáng sản thô. Sau hội nhập, tỷ trọng nhập siêu
                       cũng tăng, lên mức 18 tỷ USD vào năm 2008. Đến năm 2013, do ảnh hưởng bởi 
                       Đại suy thoái, nền kinh tế đối mặt với áp lực lớn từ nợ xấu, lạm phát cùng 
                       nợ công tăng mạnh. Tình trạng tham nhũng luôn xếp ở mức cao trên trung
                        bình của thế giới và đồng thời, các vấn đề liên quan đến vốn, đào tạo 
                        lao động, quy hoạch đất đai, cải cách hành chính, cơ sở hạ tầng,... cùng 
                        hàng chục ngàn thủ tục kinh doanh lỗi thời từ 20 năm trước vẫn còn đang 
                        tồn tại.
                </p>

                <p>
                    Theo thống kê năm 2015 của Ngân hàng Thế giới, PPP đầu người của Việt Nam năm 
                    2014 là 5.294,4 USD, bằng 70% so với Philipines, 55,4% so với Indonesia, 37% 
                    so với Thái Lan và bằng 6,7% so với Singapore.
                </p>

                <p>
                    Năm 2020, theo công bố của Quỹ Tiền tệ Quốc tế (IMF), quy mô nền kinh tế
                     Việt Nam với 98 triệu dân theo GDP danh nghĩa đạt 340,6 tỷ đô la Mỹ, xếp 
                     hạng 37 thế giới, sức mua tương đương đạt 1,047 tỷ đô la Mỹ, xếp hạng 
                     23 toàn cầu, GDP bình quân đầu người theo danh nghĩa là 3,498 USD/người,
                      xếp hạng 115 thế giới, còn theo sức mua là 10,755 USD/người, xếp hạng
                       106 toàn cầu. Mức độ tự do kinh tế vẫn chỉ ở nhóm trung bình với hạng
                        90 toàn cầu.
                </p>

                <p>
                    Về địa lý kinh tế, chính phủ Việt Nam phân chia quy hoạch thành các vùng kinh
                     tế – xã hội và các khu vực kinh tế trọng điểm mỗi miền. Các tỉnh có GRDP bình
                     quân đầu người cao nhất: Thành phố Hồ Chí Minh (Sài Gòn), Bình Dương, Bà Rịa – 
                     Vũng Tàu, Bắc Ninh, thủ đô Hà Nội,... và GRDP bình quân đầu người thấp nhất: 
                     Hà Giang, Lai Châu, Cao Bằng,...
                </p>
            </div>
        </div>

        <div>
            <div id="giaothong">
                <h3>Giao thông:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/H%E1%BB%87_th%E1%BB%91ng_giao_th%C3%B4ng_Vi%E1%BB%87t_Nam">
                        Hệ thống giao thông Việt Nam
                    </a>
                </p>      

                <div class="ogiua">
                    <img alt="Cầu_Bãi_Cháy" src="https://cdnmedia.thethaovanhoa.vn/Upload/YHNKxWgZb1sjFDALClZWA/files/2018/06/14/cau_bai_chay.jpg">
                </br>
                    <a href="https://thethaovanhoa.vn/the-gioi/nhung-cay-cau-noi-tieng-bac-nhat-viet-nam-n20180619163611626.htm">
                        Cầu Bãi Cháy ( Quảng Ninh)</a>
                </div>

                <p>
                    Các tuyến giao thông nội địa chủ yếu từ đường bộ, đường sắt, đường hàng không
                     đều theo hướng bắc – nam. Hệ thống đường bộ gồm các quốc lộ, tỉnh lộ, huyện
                      lộ... Có tổng chiều dài khoảng 222.000 km, phần lớn các tuyến đường quốc 
                      lộ và tỉnh lộ đều trải nhựa và bê tông hóa, thiểu số các tuyến đường huyện 
                      lộ đang còn là các con đường đất. Hệ thống đường sắt Việt Nam dài tổng 2652 
                      km trong đó tuyến Đường sắt Bắc Nam dài 1726 km.
                </p>

                <p>
                    Các tuyến đường thủy nội địa chủ yếu nằm theo hướng đông – tây dựa theo các
                     con sông như sông Đà, sông Hồng, sông Sài Gòn. Dự kiến quy hoạch tuyến đường
                      bộ ven biển Việt Nam trong tương lai bắt đầu tại cảng Núi Đỏ, Quảng Ninh 
                      tới cửa khẩu Hà Tiên, Kiên Giang dài khoảng 3.041 km. Hệ thống đường biển
                       xuất phát từ các cảng biển như Hải Phòng, Quy Nhơn, Sài Gòn.
                </p>
            </div>
        </div>

        <div>
            <div id="truyenthong">
                <h3>Truyền thông:</h3>

               <p>
                   Chi tiết: <a href="https://vi.wikipedia.org/wiki/Truy%E1%BB%81n_th%C3%B4ng_Vi%E1%BB%87t_Nam">
                       Truyền thông Việt Nam
                   </a>
                   ,
                   <a href="https://vi.wikipedia.org/wiki/Internet_t%E1%BA%A1i_Vi%E1%BB%87t_Nam">
                       Internet Việt Nam
                   </a>
                   ,
                   <a href="https://vi.wikipedia.org/wiki/B%C3%A1o_ch%C3%AD_Vi%E1%BB%87t_Nam">
                       Báo chí Việt Nam
                   </a>
                   và
                   <a href="https://vi.wikipedia.org/wiki/Ki%E1%BB%83m_duy%E1%BB%87t_Internet_%E1%BB%9F_Vi%E1%BB%87t_Nam">
                       Kiểm duyệt Internt tại Việt Nam
                   </a>
               </p>

               <div class="ogiua">
                   <img alt="VTV" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Vietnam_Television_logo_from_2013.svg/120px-Vietnam_Television_logo_from_2013.svg.png">
                </br>
                   <img alt="VTV" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/VTV_Headquarters.png/251px-VTV_Headquarters.png">
               </br>
                    <a href="https://vi.wikipedia.org/wiki/%C4%90%C3%A0i_Truy%E1%BB%81n_h%C3%ACnh_Vi%E1%BB%87t_Nam">
                        Đài truyền hình Việt Nam (VTV)</a>
               </div>

               <p>
                   Truyền thông Việt Nam có bốn loại hình báo chí là báo in, báo nói, báo hình
                    và báo điện tử. Việt Nam hòa mạng internet quốc tế vào năm 1997 và hơn 10 
                    năm nay, hàng loạt báo điện tử, trang tin điện tử đã ra đời. Thống kê đến 
                    tháng 7 năm 2010, tại Việt Nam có 858 cơ quan báo chí in, trong đó có 178 
                    báo và 528 tạp chí. Có 65 đài phát thanh – truyền hình, gồm 2 đài phát 
                    thanh – truyền hình trung ương (VTV, VOV) và 63 đài phát thanh – truyền 
                    hình ở các địa phương. Có 34 báo điện tử, 180 trang tin điện tử của các 
                    cơ quan tạp chí, báo, đài và hàng ngàn trang thông tin điện tử.
               </p>

               <p>
                   Tại Việt Nam, tất cả các cơ quan truyền thông, báo chí hoạt động dưới sự quản 
                   lý và giám sát của Bộ Thông tin và Truyền thông Việt Nam và dưới sự định hướng
                    của Ban Tuyên giáo Trung ương Đảng Cộng sản Việt Nam. Luật pháp chưa cấp phép 
                    cho báo chí tư nhân hoạt động.
               </p>
            </div>
        </div>

        <div>
            <div id="dulich">
                <h3>Du lịch:</h3>

                <p>
                    Chi tiết:<a href="https://vi.wikipedia.org/wiki/Du_l%E1%BB%8Bch_Vi%E1%BB%87t_Nam">
                        Du lịch Việt Nam
                    </a>
                </p>

                <div class="ogiua">
                    <img alt="Vịnh_Hạ_Long" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Ha_Long_Bay%2C_sunset.jpg/220px-Ha_Long_Bay%2C_sunset.jpg">
                </br>
                <a href="https://vi.wikipedia.org/wiki/V%E1%BB%8Bnh_H%E1%BA%A1_Long">
                    Vịnh Hạ Long</a>
                </div>

                <p>
                    Số lượng khách du lịch đến Việt Nam tăng nhanh nhất trong vòng 10 năm từ
                     2000–2010. Năm 2013, có gần 7,6 triệu lượt khách quốc tế đến Việt Nam và 
                     năm 2017, có hơn 10 triệu lượt khách quốc tế đến Việt Nam, các thị trường 
                     lớn nhất là Trung Quốc, Hàn Quốc, Nhật Bản, Hoa Kỳ và Đài Loan.
                </p>

                <p>
                    Việt Nam có các điểm du lịch từ Bắc đến Nam, từ miền núi tới đồng bằng, 
                    từ các thắng cảnh thiên nhiên tới các di tích văn hóa lịch sử. Các điểm du
                     lịch miền núi như Sa Pa, Bà Nà, Đà Lạt. Các điểm du lịch ở các bãi biển như
                      Đà Nẵng, Nha Trang, Vũng Tàu và các đảo như Cát Bà, Côn Đảo, Lí Sơn.
                </p>
            </div>
        </div>

        <div>
            <div id="khoahoc">
                <h3>Khoa học:</h3>
                
                <div class="ogiua">
                    <img alt="10_năm_hàng_không_vũ_trụ" src="https://vnsc.org.vn/wp-content/uploads/2021/09/20210915-1.png">
                </br>
                <a href="https://vnsc.org.vn/vi/tin-tuc-su-kien/dau-an-10-nam-hinh-thanh-va-phat-trien-trung-tam-vu-tru-viet-nam/"> 
                    Lộ trình phát triển vệ tinh “Made in Vietnam”  của VNSC</a>
                </div>

               <p>
                   Năm 2010, tổng chi tiêu của Nhà nước vào khoa học và công nghệ chiếm khoảng  
                   0,45% GDP. Theo UNESCO, Việt Nam đã dành 0,19% GDP để nghiên cứu và phát triển
                    khoa học vào năm 2011. Chiến lược tìm cách thúc đẩy hợp tác khoa học quốc tế 
                    lớn hơn, với kế hoạch thiết lập mạng lưới các nhà khoa học Việt Nam ở nước 
                    ngoài và khởi xướng một mạng lưới kết nối các tổ chức khoa học quốc gia với
                    các đối tác nước ngoài.
               </p>

               <p>
                   1 bộ chiến lược phát triển quốc gia cho các lĩnh vực trong kinh tế, chủ yếu 
                   liên quan đến khoa học công nghệ. Ví dụ là Chiến lược phát triển bền vững 
                   (2012) và Chiến lược phát triển ngành cơ khí (2006) cùng với Tầm nhìn 2020 
                   (2006). Kêu gọi nhân lực có tay nghề, đầu tư nâng cấp công nghệ khu vực tư 
                   nhân. Chiến lược phát triển khoa học và công nghệ 2011–2020 năm 2012 lập kế 
                   hoạch ưu tiên nghiên cứu toán, vật lý; điều tra khí hậu, thiên tai; phát 
                   triển hệ điều hành điện tử; công nghệ sinh học áp dụng đặc biệt cho nông, 
                   lâm nghiệp, y học và môi trường.
               </p>
            </div>
        </div>
    </form>
{% endblock %}